
.nav-wrapper {
    background-color:#01579b;
}

a#save {
    margin-left: 10px;
}

.card-action a {
    color: black !important;
}
footer{
    position: relative;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}
.delete-button {
    margin-left: 10px;
}