
.nav-wrapper {
    background-color:#9b0193;
}

a#save {
    margin-left: 10px;
}

.card-action a {
    color: rgb(194, 194, 194);
}

.delete-button {
    margin-left: 10px;
}
.brand-logo{
    margin-left: 20px;
}